operatorImageRepository: registry.talkschool.cn:5000/brinnatt/percona-xtradb-cluster-operator
imagePullPolicy: IfNotPresent
watchNamespace: {{ mysql_namespace }}
createNamespace: false
watchAllNamespaces: false
rbac:
  create: true
serviceAccount:
  create: true
logStructured: true
logLevel: INFO
disableTelemetry: true
leaderElectionEnabled: true
resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi
