# General configuration shared across resources
app:
  mode: 'dashboard'

auth:
  image:
    repository: registry.talkschool.cn:5000/brinnatt/dashboard-auth

api:
  image:
    repository: registry.talkschool.cn:5000/brinnatt/dashboard-api

web:
  image:
    repository: registry.talkschool.cn:5000/brinnatt/dashboard-web

metricsScraper:
  image:
    repository: registry.talkschool.cn:5000/brinnatt/dashboard-metrics-scraper

## Required Kong sub-chart with DBless configuration to act as a gateway
kong:
  enabled: true
  image:
    repository: registry.talkschool.cn:5000/brinnatt/kong
  proxy:
    type: NodePort
    http:
      enabled: false
