[Journal]
# persist to disk
Storage=persistent

# maximum occupied disk 2G
SystemMaxUse=2G

# single journal file 200M
SystemMaxFileSize=200M

# journal retained time 2 weeks
MaxRetentionSec=2week

# forbidden forward
ForwardToSyslog=no
ForwardToWall=no
