[Unit]
Description=containerd container runtime
Documentation=https://containerd.io
After=network.target

[Service]
Environment="PATH={{ bin_dir }}:/bin:/sbin:/usr/bin:/usr/sbin"
{% if KUBE_RESERVED_ENABLED == "yes" %}
# Container runtime must share kubeReserved parent with kubelet for enforcement to be meaningful.
# Docs: https://kubernetes.io/docs/tasks/administer-cluster/reserve-compute-resources/#kube-reserved
#   ("kubelet, container runtime, etc.")
Slice=podruntime.slice
{% endif %}
ExecStartPre=-/sbin/modprobe overlay
ExecStart={{ bin_dir }}/containerd --log-level warn
Restart=always
RestartSec=5
Delegate=yes
KillMode=process
OOMScoreAdjust=-999
LimitNOFILE=1048576
# Having non-zero Limit*s causes performance problems due to accounting overhead
# in the kernel. We recommend using cgroups to do container-local accounting.
LimitNPROC=infinity
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
